
table{ width: 100%;
    height: 98vh;}

    *{margin: 0}
 
    td {
        
       
       width: 10%;
        }

        #tr1{height:  50px;}
        #tr2{height:  50px;}
        #tr3{height:  50px;}
        #tr4{height:  250px;}
        #tr5{height:  30px;}
        #tr6{height: 100%;}
        #tr7{height: 50px;}
        #login{
            width: 70px;}

        #td1{width: 100px;
            height:  50px;}
        .atm{text-align: right;}
        .btm{text-align: left;}
        .centro{text-align: center;}

        .maior{font-size: 30px;
            float: left
             }
             .cinzadireitos{background-color: #6F7E8B;
                height: 60px;}
                p2 {font-size: 20px;
                    float: right}
        
        h1 {font-size: 60px;}

        .texto{
            position: absolute;
            top: 9%;
            left: 37%;
            font-size: 55px;
            
        }

        .texto2{
            position: absolute;
            top: 20%;
            left: 1%;
            font-size: 35px;  
        }

        .azulfundo{background-color: blue;
        }
        
        
        
        h1 {font-size: 25px;}
        h2 {font-size: 55px;}
            
        input[type="text"] {
            height: 80%;
            width: 98%;
         
            border: 2px solid #000000;
            background-color: rgb(217, 217, 217);
            color: black;
            font-size: 40px;
            font-weight: arial;
        }
        
        .arre{border-radius: 50px;}
